<!DOCTYPE html>
<html>
<head>
	<title>HJ company - About us</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
		<body>
			<div class="shadow">
				<div class="add_emp_area add_emp_out">
					<h1 style="color: DodgerBlue">About HJ Company</h1>
					
		
						
							<h3>
							HJ Company is a company that is dedicated to design, create and produce work that we are proud of for folks that we believe in. We are available for hire in a wide range if creative disciplines for a variety of jobs, projects and gigs. We also more than welcome for newcomers to join us side by side in this mission.
							</h3>	
		
						  <form action="/" autocomplete="on" method = "GET">
					<!-- <input type="submit" value="GO BACK"> -->
					<button type="submit" class="glow-on-hover">GO BACK</button>
				</form>
		
					
		
				</div>
			</div>
			
			
		</body>
</html>