<!DOCTYPE html>
<html>
<head>
	<title>HJ company - Add Emp Output</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<div class="shadow">
		<div class="add_emp_area add_emp_out">
			<h1>SAVE SUCCESSFUL</h1>
			<h2>Following Employee has been added to the database</h2>
			<h3>{{ name }}</h3>
			

				<form action="/" autocomplete="on" method = "GET">
					<!-- <input type="submit" value="GO BACK"> -->
					<button type="submit" class="glow-on-hover">GO BACK</button>
				</form>
		</div>
	</div>
		
		
	
</body>
</html>
