	<!DOCTYPE html>
<html>
<head>
	<title>HJ company - Get Employee Information</title>
	<link rel="stylesheet" href="/static/style.css">
</head>

		<body>
			<div class="shadow">
				<div class="add_emp_area add_emp_out">
					<h1 style="color: DodgerBlue">Employee Information</h1>
					<form action="/fetchdata" autocomplete="on" method="POST">
	
						<h2 style="text-align: center;">Enter Employee ID</h2>
	
						<input style="margin: 20px 0;" type="number" name="emp_id" autofocus size="40">
	
					 
						<button type="submit">FETCH INFO</button>
						<br><br>
						<button type="submit" formaction="/" class="glow-on-hover">GO TO UPDATE DATABASE PAGE</button>
						<!-- <input type="submit"  value="GO TO UPDATE DATABASE PAGE"> -->
	
					</form>
				</div>
			</div>
			
		</body>
	 
</html>

